/* styles.css */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
  }
  
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .card {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    width: 400px;
  }
  
  .card-title {
    background-color: #007bff;
    color: white;
    font-size: 1.5em;
    padding: 20px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    margin-top: 0;
  }
  
  .card-body {
    padding: 20px;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
  }
  
  input[type="text"],
  select,
  button {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
  }
  
  .checkbox-group {
    display: flex;
    align-items: center;
  }
  
  .checkbox-group input[type="checkbox"] {
    margin-right: 10px;
  }
  
  button {
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  

  /* styles.css */
#tripPlan {
    margin-top: 20px;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
/* styles.css */

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 20px;
  }
  
  .card {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    max-width: 600px;
    width: 100%;
  }
  
  .card-title {
    background-color: #007bff;
    color: white;
    font-size: 1.5em;
    padding: 20px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    margin-top: 0;
  }
  
  .card-body {
    padding: 20px;
  }
  
  .trip-day {
    background-color: #f9f9f9;
    border-radius: 10px;
    padding: 15px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
  }
  
  .trip-day-title {
    font-weight: bold;
    margin-bottom: 10px;
  }
  

    /* Loading bar animation */
    .loader {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 4px; /* Height of the loading bar */
        background-color: #007bff; /* Color of the loading bar */
        animation: loading 3s linear forwards; /* Animation duration and timing function */
        border-radius: 10px 10px 0 0; /* Rounded corners */
      }
    
      @keyframes loading {
        0% {
          width: 0; /* Start with no width */
        }
        100% {
          width: 100%; /* End with full width */
        }
      }